<div id="regModal" class="container modal fade modal-lg" ng-controller="regCtrl as ctrl">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
          &times;
        </button>
        <div class="page-header" style="text-align:center"><h3>用户注册</h3></div>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-md-3"></div>
          <div class="col-md-9">
            <div class="row">
            <form role="form" name="myform" ng-submit="ctrl.regSubmit()" class="form-horizontal">
            <div class="form-group has-success has-feedback">
              <label for="userid" class="control-label col-md-3">
                用户名
              </label>
              <div class="col-md-7">
                <input type="text" class="form-control" id="userid" name="userid" required="true" ng-minlength="2" ng-maxlength="12" placeholder="请填写用户名，最长12字符" ng-model="ctrl.user.userid">
                <span ng-show="myform.userid.$error.required" class="label-warning">必填项</span>　
                <span ng-show="ctrl.isExist" class="label-warning">该用户名已存在,请选择其他用户名！</span>
              </div>
            </div>
            <div class="form-group">
              <label for="nickname" class="col-md-3 control-label">
                昵称
              </label>
              <div class="col-md-7">
                <input type="text" id="nickname" class="form-control" name="nickname" placeholder="请输入昵称" required="true" ng-model="ctrl.user.nickname">
                <span ng-show="myform.nickname.$error.required" class="label-warning">必填项</span>
              </div>
            </div>
            <div class="form-group">
              <label for="passwd1" class="control-label col-md-3">
                密码
              </label>
              <div class="col-md-7">
                <input type="password" class="form-control" id="passwd1" required="true" name="passwd1" ng-minlength="4" ng-model="ctrl.user.passwd1">
                <span ng-show="myform.passwd1.$error.minlength" class="label-warning">密码不能少于4个字符</span>
              </div>
            </div>
            <div class="form-group">
              <label for="passwd2" class="control-label col-md-3">
                确认密码
              </label>
              <div class="col-md-7">
                <input type="password" id="passwd2" class="form-control" name="passwd2" ng-model="ctrl.user.passwd2">
                <span class="label-warning" ng-show="ctrl.notSame">密码必须一致</span>
              </div>
            </div>
            <div class="form-group">
              <label for="mobile" class="control-label col-md-3">
                手机号
              </label>
              <div class="col-md-7">
                <input type="number" id="mobile"  ng-pattern="/(^$)|^(((\+86)|(86))?1[34578]\d{9})$/" class="form-control" name="mobile" ng-model="ctrl.user.mobile" placeholder="请输入您的手机号..." ng-maxlength="11" value="">
                <span style="color:red" ng-show="myform.mobile.$dirty && myform.mobile.$invalid">请输入正确的手机号码！</span>
              </div>
            </div>
            <div class="form-group">
              <div class="col-md-12">
                <label>
                <input type="checkbox" name="mycheck" value="ok" checked>我已看过并同意《郑州大学出版社手语教育平台服务使用协议》
                </label>
              </div>
            </div>
            <div class="form-group">
              <div class="col-md-3"></div>
              <div class="col-md-7">
                <button type="submit" class="btn btn-info" ng-disabled="myform.$invalid"><span class="glyphicon glyphicon-user">注册</span></button>
              </div>
            </div>
          </form>
          </div>
        </div>
        </div>
      </div>
    </div>
  </div>
</div>
