<!doctype html>
<html ng-app="sessionApp" ng-controller="sessionCtrl" >
<head>
  <meta charset="utf-8">
  <title>test社</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width">
  <link href="login_s/css/bootstrap.css" rel="stylesheet">
  <link href="css/index.css" rel="stylesheet">
  <script src="login_s/js/jquery2.2.2.min.js"></script>
  <script src="login_s/js/bootstrap.min.js"></script>
  <script src="login_s/js/angular.js"></script>
  <!--<script src="login_s/js/regUser.js"></script> //-->
  <script src="login_s/js/session_t.js"></script>

</head>
<body>
<input type="text" ng-model="ssn1">
<input type="text" ng-model="ssn2">
<input type="button" ng-click="getsession()" value="ok">

</body>
</html>
